__*
.DS_Store
/.editorconfig
/.eslintignore
/.eslintrc.yaml
/.git
/.gitignore
/.idea
/images
/.nvmrc
/tag-release.sh
/test/**
/.travis.yml
/.vscode/**
/.vscode-test/**
/.vsix
/yarn.lock
jsconfig.json
yarn-error.log
