__*
.DS_Store
/.editorconfig
/.git
/.gitignore
/.idea
/.nvmrc
/.nycrc
/.nyc_output
/.travis.yml
/.vscode
/.vscode-test
/.vsix
/TODO.md
/coverage
/images
/out/test/**
/out/**/*.map
/src
/tag-release.sh
/test
/tslint.json
/yarn.lock
jsconfig.json
tsconfig.json
yarn-error.log
