__*
.DS_Store
/.editorconfig
/.eslintignore
/.eslintrc.yaml
/.git
/.gitignore
/.idea
/.nvmrc
/.nycrc
/.nyc_output
/.travis.yml
/.vscode
/.vscode-test
/.vsix
/TODO.md
/coverage
/images
/tag-release.sh
/yarn.lock
/test
jsconfig.json
yarn-error.log
